---
"use client;"
import { getSession } from "auth-astro/server";
import Layout from "../layouts/Layout.astro";
import { getUrlsFromUser, getUserByEmail } from "@/utils/db";
import Table from "@/components/Table.astro";

const session = await getSession(Astro.request)

const h1 = session
  ? `URLs acortadas de ${session.user?.name?.split(' ')[0]}`
  : 'Inicia sesión para ver tus URLs'

let urls: {
  url: string;
  code: string;
}[] = []

if (session && session.user?.email) {
  const user = await getUserByEmail(session.user.email)

  if (user.success && user.data) {
    const urlsRes = await getUrlsFromUser(user.data?.id)

    if (urlsRes.success && urlsRes.data) {
      urls = urlsRes.data.map(url => url)
    }
  }
}
---
<Layout title="Mis URLs acortadas">
  <h1 class="text-5xl my-8 mt-0 font-bold text-center">{h1}</h1>

  <Table urls={urls} client:load />

</Layout>
