---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import "@/styles/globals.css"
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>

	</main>
	
</Layout>
