---

---

<footer class="footer footer-center p-4 bg-base-300 text-base-content ">
  <aside>
    <p> 
      Designed by <a target="_blank" class="link link-primary" href="https://juliocondor.vercel.app/"> Julio Condor </a>
    <p/>
  </aside>
</footer>