---
import { getSession } from "auth-astro/server";
import { Button } from "@/components/ui/button";
import { db } from "astro:db";
import { User } from "astro:db";
import { like } from "astro:db";
import { getUserByEmail } from "@/pages/utils/db";

const session = await getSession(Astro.request);
//Verificar si el usuario existe
if (session && 
  session.user?.email && 
  session.user?.name && 
  session.user?.image) {

    const res = await getUserByEmail(session.user.email)
  
if (
    res.success &&
    !res.data
  )  {
    await db.insert(User).values({
      email: session.user?.email,
      name: session.user?.name,
      image: session.user?.image,
    });
  }
}
---

<header class="flex justify-between bg-gray-600 p-6">
  <section> 
    <h1 class="font-bold text-sm">shortly</h1>
    <img class="w-12 h-12" src="./logo.svg" />
  </section>
  {
    session ? (
      <section class="flex justify-between">
        <p class="font-bold">Hola {session.user?.name}</p>
        <img src={session.user?.image} />
        <Button className="font-bold" id="logout">
          Logout
        </Button>
      </section>
    ) : (
      <>
        <Button className="font-bold" id="login">Login</Button>
      </>
    )
  }
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client");
  const login = document.querySelector("#login") as HTMLButtonElement;
  if (login) {
    login.onclick = () => signIn("google");
  }

  const logout = document.querySelector("#logout") as HTMLButtonElement;
  if (logout) {
    logout.onclick = () => signOut();
  }
</script>