---
import { getSession } from 'auth-astro/server';
import { Button } from "@/components/ui/button"
const session = await getSession(Astro.request);
---

<header>
  {
    session ? (
      <p class="font-bold">Hola {session.user?.name}</p>
      <img src={session.user?.image}/>

      <Button className="font-bold " id="logout">Logout</Button>
    ) : (
      <p>Sin session iniciada</p>
      <Button id="login">Login</Button>
    )
  }
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client")
  const login = document.querySelector("#login") as HTMLButtonElement
  if (login) {
    login.onclick = () => signIn("google")
  }
  
  const logout = document.querySelector("#logout") as HTMLButtonElement
  if (logout) { 
    logout.onclick = () => signOut()
  }
</script>

<style>
	header {
    background-color: rgb(0, 0, 0);
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
    font-weight: 600;
	}
  /* .button {
    background-color: white;
    color: black;
    border-radius:12px;
    padding: 0.5em;
    outline:none;
    border: black solid 2px;
  } */
</style>