---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Toaster } from 'react-hot-toast';
import { SEOMetadata } from 'astro-seo-metadata';

import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="es" >
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="¡Acorta tus URLs con Shortly! Convierte enlaces largos y complejos en enlaces cortos y fáciles de compartir. Perfecto para redes sociales, correos electrónicos y más. ¡Regístrate gratis hoy mismo!">
    <meta name="keywords" content="acortador de URL, URL cortas, compartir enlaces, redes sociales, análisis de clics, protección de URL">

    <SEOMetadata
    siteName={'Shortly'}
    title={title}
    description={'¡Acorta tus URLs con Shortly! Convierte enlaces largos y complejos en enlaces cortos y fáciles de compartir. Perfecto para redes sociales, correos electrónicos y más. ¡Regístrate gratis hoy mismo!'}
    image={'https://shortlly.vercel.app/Shortly.png'}
    favicon={'/favicon.svg'}
    author="Julio Condor"
    astroSitemap={true}
    canonicalUrl={Astro.url.toString()}
    type={'website'}
    astroGenerator={true}
  />
    <script is:inline>
      // ☝️ This script prevents the FART effect by setting the theme before rendering.
      (function() {
        const savedTheme = localStorage.getItem("theme");
        const defaultTheme = "synthwave";
        const theme = savedTheme || defaultTheme;
        document.documentElement.setAttribute("data-theme", theme);
      })();
    </script>
  </head>

  <body class="relative h-full w-full">

    <div class="absolute z-[-2] bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_top,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_30%,transparent_100%)]"></div>

    <div class="absolute z-[-2] bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_top,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_60%_at_50%_100%,#000_30%,transparent_100%)]"></div>

    <Header />
    <div class="divider mt-0"></div> 

    <main>
      <slot />
    </main>
    <div class="divider"></div> 

    <Footer />

    <Toaster client:idle />

  </body>
  <script>
    import { themeChange } from "theme-change";
      themeChange();
       // 👆 you could import the CDN directly instead of these two lines
  </script>
</html>

<style is:global>

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>